<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DbConnectionString"
				connectionString="Server=tcp:csnet-challenge.database.windows.net,1433;Initial Catalog=CSNet-Challenge-Azure-SQL-DB;Persist Security Info=False;User ID=mdt;Password=CSnet-Challenge;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
				providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>